.titleIcon-Information{
  // background-color: paleturquoise;
  // @include centerGrid;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  &_icon, &_title{
    background-color: #854EC7;
    @include centerFlex;
    height: 60px;
  }
  &_icon{
    // background-color: cornflowerblue;
    margin-right: 0.25rem;
    grid-column: 1 / 4;
    color: aliceblue;
    font-size: 2rem;
  }
  &_title{
    // background-color: darkmagenta;
    margin-left: 0.25rem;
    grid-column: 4 / 13;
  }
  &_bar{
    // margin-left: 0.5rem;
    display: none;
  }
}

@include mQ(xsS) {
}

@include mQ(smallS) {

}

@include mQ(mediumS) {

}

@include mQ(wideS) {
  .titleIcon-Information {
    // background-color: paleturquoise;
    // @include centerGrid;
    // margin: 0 0.5rem;
    // padding: 0.5rem 0;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);

    &_icon,
    &_title {
      // background-color: #854EC7;
      // @include centerFlex;
      // height: 60px;
    }

    &_icon {
      // background-color: cornflowerblue;
      // margin-right: 0.25rem;
      grid-column: 1 / 3;
      // color: aliceblue;
      // font-size: 2rem;
    }

    &_title {
      // background-color: darkmagenta;
      // margin-left: 0.25rem;
      grid-column: 3 / 13;
    }

    &_bar {
      // margin-left: 0.5rem;
      // display: none;
    }
  }
}

@include mQ(largeS) {
  .titleIcon-Information {
    // background-color: paleturquoise;
    // @include centerGrid;
    // margin: 0 0.5rem;
    // padding: 0.5rem 0;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);

    &_icon,
    &_title {
      // background-color: #854EC7;
      // @include centerFlex;
      // height: 60px;
    }

    &_icon {
      // background-color: cornflowerblue;
      // margin-right: 0.25rem;
      grid-column: 1 / 3;
      // color: aliceblue;
      // font-size: 2rem;
    }

    &_title {
      // background-color: darkmagenta;
      // margin-left: 0.25rem;
      border-radius: 0 15px 0 0;
      grid-column: 3 / 8;
      .titleInfo{
        font-size: 1.5rem;
      }
    }

    &_bar {
      // margin-left: 0.5rem;
      display: flex;
      align-self: flex-end;
      height: 8px;
      background-color: #854EC7;
      display: block;
      grid-column: 8 / 13;
    }
  }
}

@include mQ(xlS) {
  .titleIcon-Information {
    // background-color: paleturquoise;
    // @include centerGrid;
    // margin: 0 0.5rem;
    // padding: 0.5rem 0;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);

    &_icon,
    &_title {
      // background-color: #854EC7;
      // @include centerFlex;
      // height: 60px;
    }

    &_icon {
      // background-color: cornflowerblue;
      // margin-right: 0.25rem;
      grid-column: 1 / 2;
      // color: aliceblue;
      // font-size: 2rem;
    }

    &_title {
      // background-color: darkmagenta;
      // margin-left: 0.25rem;
      border-radius: 0 15px 0 0;
      grid-column: 2 / 6;
      .titleInfo {
        font-size: 1.7rem;
      }
    }

    &_bar {
      // margin-left: 0.5rem;
      display: flex;
      align-self: flex-end;
      height: 8px;
      background-color: #854EC7;
      display: block;
      grid-column: 6 / 13;
    }
  }
}

