section#inicio.heroWrap
  //- .heroWrap-imag
  //-   img(clas="imagenPrincipal" src="/src/images/2. Edgar.jpg", alt="")
  .heroWrap-background
  .heroWrap-contact
    .heroWrap-contact_number.contactBox
      .number.contactBox-text 317 461 1172
      .icon.contactBox-icon
    .heroWrap-contact_text.contactBox
      .text.contactBox-text chatea con nosotros
      .icon.contactBox-icon
  .heroWrap-sello
    img(src="/images/sello.png", alt="Nuestro sello de calidad", height="120px")
  .heroWrap-lema
    span.animated.infinite.heartBeat #EsPorPitalito
  .heroWrap-logos.u-firstContent
    .pacto
    h2 ¡Todos del lado correcto de la historia!
    //-   img(class="wow bounceIn" src="/images/pacto.png", alt="Pacto por el desarrollo" height="60px")
    //- .gen
    //-   img(class="wow bounceIn" data-wow-delay=".5s" src="/images/gen.png", alt="yo yengo el Gen E" height="60px")
    //- .mujer
    //-   img(class="wow bounceIn" data-wow-delay="1s" src="/images/mujer.png", alt="mujer" height="60px")

