section#inicio.heroWrap
  //- .heroWrap-imag
  //-   img(clas="imagenPrincipal" src="/src/images/2. Edgar.jpg", alt="")
  .heroWrap-background
  .heroWrap-contact
    .heroWrap-contact_number
      .number 317 461 1172
      .icon
    .heroWrap-contact_text
      .text chatea con nosotros
      .icon
  .heroWrap-sello
    img(src="/public/images/sello.png", alt="Nuestro sello de calidad", height="120px")
  .heroWrap-lema
    span #EsPorPitalito
  .heroWrap-logos
    .pacto
      img(src="/public/images/pacto.png", alt="Pacto por el desarrollo" height="60px")
    .gen
      img(src="/public/images/gen.png", alt="yo yengo el Gen E" height="60px")
    .mujer
      img(src="/public/images/mujer.png", alt="mujer" height="60px")

