//- fixme:pendiente por revisar la identacion
main.mainWrap
  section#edgarmunoz.mainContainer-general.u-firstContent
    .mainContainer-banner
      .mainContainer-banner_image
        img(src="/public/images/mivida.png", alt="" height="60px")
    .mainContainer-information
      section.mainContainer-information_academy
        +headerTitleIcon([
          ['graduation-cap', 'Formación Académica', 'fa']
          ])
        article.mainContainer-information_academy__info
          p.contentInformation.check #[span.txtStrong-cLila Psicólogo,] de la Universidad de la Sabana.
          p.contentInformation.check #[span.txtStrong-cLila Especialista en Alta gerencia,] de la Universidad Surcolombiana.
          p.contentInformation.check #[span.txtStrong-cLila Especialista en Gerencia de la Seguridad Social,] de la Universidad Surcolombiana.
          p.contentInformation.check #[span.txtStrong-cLila Magister en Salud Pública,] de la Universidad El Bosque.
          br
          p.contentInformation Estudiante dedicado, cursó su #[span.txtEmph primaria en la escuela de Víctor Manuel Meneses] y es #[span.txtEmph Bachiller de la Escuela Normal Superior de Pitalito.]
          br
          p.contentInformation Realizó sus estudios en Psicología, en la Universidad de la Sabana (Bogotá). Alternó sus estudios como miembro del Instituto Latinoamericano de Liderazgo (ILL) y coordinador del programa Juventud para la Excelencia en el Colegio: Gimnasio Los Cerros de la Ciudad de Bogotá.
      section.mainContainer-information_biography
        +headerTitleIcon([
          ['pen-fancy', 'Breve biografía', 'fas']
          ])
        article.mainContainer-information_biography__info
          h2.nombre Edgar Muñoz Torres
          p.contentInformation.check #[span.txtStrong Humanista y académico]
          p.contentInformation.check Laboyano, 24 de Junio de 1973
          p.contentInformation.check Nació en el seno de un humilde hogar en la vereda El Guamal de Pitalito. Hombre de familia, casado con la ingeniera industrial Maribel Suarez, padre de Juan Camilo y María Victoria.
          p.contentInformation.check Muy joven al lado de su padre Ezequías Muñoz “Pastranita” (QEPD) un apreciado maestro de obra, aprendió el valor del trabajo, inicialmente como ayúdate de constructor con su padre y luego como vendedor de lotería al lado de sus abuelos maternos.
      section.mainContainer-information_accomp
        +headerTitleIcon([
          ['cogs', 'Logros Alcanzados', 'fas']
          ])
        article.mainContainer-information_accomp__info
          section.wrapAccomp.one
            p.contentInformation Fundación Centro de Orientación y Desarrollo Humano (COD), Bogotá.
            .modalBox
              block Ventanamodal
                +modalBox('inico', [[['Centro de Orientación y Desarrollo Humano']], ['Al inicio de su vida Profesional participó en la Fundación: Centro de Orientación y Desarrollo Humano (COD), donde realizó procesos de atención en salud mental a más de 30.000 niños y niñas en condición de calle en la Ciudad de Bogotá.'],[''], [''], ['']], [['']], 'one')

          //- p.contentInformation Al inicio de su vida Profesional participó en la Fundación: Centro de Orientación y Desarrollo Humano (COD), donde realizó procesos de #[span.txtEmph atención en salud mental a más de] #[span.txtStrong-cMag 30.000] #[span.txtEmph niños y niñas en condición de calle] en la Ciudad de Bogotá.
          section.wrapAccomp.two
            p.contentInformation #[span.txtStrong-cMag (2002)] administración del Alcalde Enrique Peñalosa, en el #[span.txtEmph área de atención psicosocial]. Bogotá
            .modalBox
              block Ventanamodal
                +modalBox('Administración del Alcalde Enrique Peñalosa', [[['']], ['En el año (2002) es vinculado a la administración del Alcalde Enrique Peñalosa, en el área de atención psicosocial, lo que le permitió vincularse posteriormente a la Cruz Roja Colombiana.'],[''], [''], ['']], [['']], 'two')

          //- p.contentInformation En el año #[span.txtStrong-cMag (2002)] es vinculado a la administración del Alcalde Enrique Peñalosa, en el #[span.txtEmph área de atención psicosocial], lo que le permitió vincularse posteriormente a la Cruz Roja Colombiana.

          section.wrapAccomp.three
            p.contentInformation #[span.txtEmph Unidad Técnica Legislativa del Congreso].
            .modalBox
              block Ventanamodal
                +modalBox('Unidad Técnica Legislativa del Congreso', [[['']], ['Perteneció a la Unidad Técnica Legislativa del Congreso, donde logró conocer de cerca la actividad política del país y participar en diferentes proyectos legislativos, hoy leyes de la república.'],[''], [''], ['']], [['']], 'three')
          //- p.contentInformation #[span.txtEmph Perteneció a la Unidad Técnica Legislativa del Congreso], donde logró conocer de cerca la actividad política del país y participar en diferentes proyectos legislativos, hoy leyes de la república.

          section.wrapAccomp.for
            p.contentInformation Participó activamente en la #[span.txtEmph Secretaría de Salud Departamental.]
            .modalBox
              block Ventanamodal
                +modalBox('Secretaría de Salud Departamental', [[['']], ['Participó activamente en el fortalecimiento de las políticas de Salud Pública del departamento del Huila, en la Secretaría de Salud Departamental.'],[''], [''], ['']], [['']], 'for')
          //- p.contentInformation Participó activamente en el #[span.txtEmph fortalecimiento de las políticas de Salud Pública del departamento del Huila, en la Secretaría de Salud Departamental.]

          section.wrapAccomp.five
            p.contentInformation Asesor en distintas instituciones.
            .modalBox
              block Ventanamodal
                +modalBox('Asesor', [[['']], ['Asesor de instituciones como la Policía Nacional, ICBF, Alcaldía de Neiva, Club Atlético Huila y docente de la universidad Surcolombiana y Cooperativa de Neiva.'],[''], [''], ['']], [['']], 'five')
          //- p.contentInformation Asesor de instituciones como la Policía Nacional, ICBF, Alcaldía de Neiva, Club Atlético Huila y docente de la universidad Surcolombiana y Cooperativa de Neiva.

          section.wrapAccomp.six
            p.contentInformation #[span.txtStrong-cMag (2009)] #[span.txtEmph Gerente de la Empresa Social del Estado Manuel Castro Tovar de Pitalito].
            .modalBox
              block Ventanamodal
                +modalBox('Empresa Social del Estado Manuel Castro Tovar', [[['']], ['En el (2009) por concurso de méritos fue elegido Gerente de la Empresa Social del Estado Manuel Castro Tovar de Pitalito, dos años de gestión enfocados en dignificar el acceso a los servicios de salud y la modernización administrativa y tecnológica de la empresa.'],[''], [''], ['']], [['']], 'six')
          //- p.contentInformation En el #[span.txtStrong-cMag (2009)] por concurso de méritos fue elegido #[span.txtEmph Gerente de la Empresa Social del Estado Manuel Castro Tovar de Pitalito], dos años de gestión enfocados en dignificar el acceso a los servicios de salud y la modernización administrativa y tecnológica de la empresa.


          section.wrapAccomp.seven
            p.contentList En el #[span.txtStrong-cMag (2010)] dio lugar a un ambicioso proyecto de consecución de terrenos, diseños, contratación de obras y de equipamiento medico científico, para que los habitantes de las distintas comunas y corregimientos de Pitalito pudieran contar con una #[span.txtEmph mejor infraestructura y servicio de salud], siendo productos de ésta gestión:

          section.wrapAccomp.eight
            ul.contentList-gestion
              li.contentList-gestion_item El #[span.txtEmph moderno Centro de Salud del Corregimiento de Bruselas], que atiende una población mayor de 25 mil habitantes
              li.contentList-gestion_item El #[span.txtEmph Centro de salud de la Comuna Dos], encauzado como centro de atención psicosocial para jóvenes y sofisticado centro de acopio regional de vacunas.
              li.contentList-gestion_item Diseño y construcción del #[span.txtEmph puesto de salud del corregimiento de Criollo].

          section.wrapAccomp.nine
            p.contentInformation #[span.txtStrong-cMag (2012)] #[span.txtEmph Ministerio de Salud y protección Social] coordinador del Equipo Técnico Nacional del Programa de Atención en Salud.
            .modalBox
              block Ventanamodal
              +modalBox('Ministerio de Salud y protección Social', [[['']], ['En el (2012) se vincula al Ministerio de Salud y protección Social como coordinador del Equipo Técnico Nacional del Programa de Atención en Salud, Salud Mental y Atención Psicosocial a Víctimas del Conflicto Armado Colombiano.'],[''], [''], ['']], [['']], 'seven')
          //- p.contentinformation En el #[span.txtStrong-cMag (2012)] se vincula al #[span.txtEmph Ministerio de Salud y protección Social] como coordinador del Equipo Técnico Nacional del Programa de Atención en Salud, Salud Mental y #[span.txtEmph Atención Psicosocial a Víctimas del Conflicto Armado Colombiano].

          section.wrapAccomp.ten
            p.contentInformation #[span.txtStrong-cMag (2015)] candidato independiente a la #[span.txtEmph Alcaldía para el periodo (2016-2019)]
            .modalBox
              block Ventanamodal
                +modalBox('candidato independiente a la Alcaldía', [[['']], ['En el (2015) con el respaldo de los lideres sociales de los sectores populares urbanos y rurales de Pitalito, es postulado ante el pueblo Laboyano como candidato independiente a la Alcaldía para el periodo (2016-2019)'],[''], [''], ['']], [['']], 'eight')
          //- p.contentinformation En el #[span.txtStrong-cMag (2015)] con el respaldo de los lideres sociales de los sectores populares urbanos y rurales de Pitalito, es postulado ante el pueblo Laboyano como candidato independiente a la #[span.txtEmph Alcaldía para el periodo (2016-2019)]
      section.maincontainer-information_imageQuery
        .image
      section.mainContainer-information_recog
        +headerTitleIcon([
          ['medal', 'Reconocimientos', 'fas']
          ])
        article.mainContainer-information_recog__info
          p.contentInformation Sus meritos le han hecho merecedor de reconocimientos importantes como: #[span.txtEmph Premio a la Excelencia] por parte del Instituto Nacional de Salud, reconocimiento del Departamento Nacional de Planeación por el #[span.txtEmph manejo óptimo de los recursos económicos], #[span.txtEmph Medalla al Mérito Social] por parte de la Cámara de Comercio de Neiva, #[span.txtEmph Mención Honorifica] por parte del Concejo de Pitalito, el #[span.txtEmph reconocimiento social y comunitario de la población].
      section.mainContainer-information_politic
        +headerTitleIcon([
          ['handshake', 'Ejercicio Político', 'far']
          ])
        article.mainContainer-information_politic__info
          p.contentInformation Gracias al respaldo de más de #[span.txtPink 14.000] Laboyanos, Edgar es hoy la esperanza de todo un pueblo que anhela un cambio de la política tradicional, #[span.txtEmph es la primera opción para llegar a gobernar a Pitalito con capacidad técnica, rectitud y sentido humano].
      section.mainContainer-information_traject
        +headerTitleIcon([
          ['shoe-prints', 'Experiencia Profesional', 'fas']
          ])
        ul.contentList-traject
          li.contentList-traject_item #[span.txtEmph 2016–2018] Docente en la universidad Uniminuto del Huila – Pitalito
          li.contentList-traject_item #[span.txtEmph 2015–2017] Gestor territorial Superintendencia Nacional de Salud - Dirección de entidades territoriales
          li.contentList-traject_item #[span.txtEmph 2012–2014] Asesor Ministerio de Salud y de La Proteccion Social y en la Organización Internacional para las Migraciones O.I.M.
          li.contentList-traject_item #[span.txtEmph 2010–2012] Gerente de la E.S.E. manuel Castro Tovar departamento del Huila – municipio de Pitalito
          li.contentList-traject_item #[span.txtEmph 2001–2009] Psicólogo de apoyo, al programa de salud mental en la secretaría de salud departamental del Huila
          li.contentList-traject_item #[span.txtEmph 2005–2007] Coordinador Psicoterapéutico de la secretaría de salud municipal de Neiva – Huila
          li.contentList-traject_item #[span.txtEmph 2008] Psicólogo del club atlético Huila
          li.contentList-traject_item #[span.txtEmph 2004–2007] Docente invitado de la universidad Cooperativa de Colombia, departamento del Huila – Neiva
          li.contentList-traject_item #[span.txtEmph 2002] Asesor del Instituto Colombiano de Bienestar Familiar I.C.B.F. departamento del Huila – Neiva
          li.contentList-traject_item #[span.txtEmph 2002–2003] Asesor E.S.E. hospital departamental San Antonio de Pitalito, departamento del Huila
          li.contentList-traject_item #[span.txtEmph 2001] Asesor de la policía nacional – Bienestar Social, departamento del Huila – Neiva
          li.contentList-traject_item #[span.txtEmph 2000–2015] Miembro consultor del Instituto Latinoamericano de Liderazgo, Desarrollo Humano y Organizacional, Bogota D.C.
          li.contentList-traject_item #[span.txtEmph 1999–2000] Psicólogo organizacional gimnasio los cerros, Bogota D.C.
          li.contentList-traject_item Director del equipo psicoterapéutico organización Gonzalez Benitez ltda. Bogota D.C. – DABS alcaldía de Bogotá.
      section.mainContainer-information_other
        +headerTitleIcon([
          ['marker', 'Otras acciones', 'fas']
          ])
        article.mainContainer-information_other__info
          p.contentInformation Integrante de la comisión redactora del proyecto de ley #[span.txtEmph “Reforma a la seguridad social dirigida a promoción y prevención en salud mental”]. Congreso de la República. Junio 2004 Santa Fe de Bogotá.
    .mainContainer-banner_mid
      .mainContainer-banner_midImage
        p prueba
  section.midContainer
    .midContainer-imageQuery
      .midImage
    .midContainer-information
      p.contentInformation #[span.txtEmph #NuestrosPrincipios] | Nos definen y orientan nuestro camino, quienes somos y como actuamos: - Experiencia - Educación - Emprendimiento - Ética - Equidad - Empatía - Excelencia - Esperanza – Son sello de nuestra identidad #[span.txtEmph #EsPorPitalito].
    .midContainer-secInfo_descriptions
      +articleIcon([
        [
        'Ética',
        'etica.png',
        'Creemos en la transparencia como herramienta para la construcción colectiva del desarrollo. Cada gestión siempre de cara a la ciudadanía, abierta a toda veeduría y rendición de cuentas. La cultura de la legalidad como constante en todos los actos administrativos.'
        ]
      ])
      +articleIcon([
        [
        'Experiencia',
        'experiencia.png',
        'Somos fruto de un pueblo trabajador, campesino y artesano, los conocimientos de nuestros mayores son la base para la construcción de nuestra sociedad, las nuevas generaciones son las responsables de capitalizar esta gran herencia y tomar las riendas del presente y futuro de nuestra ciudad.'
        ]
      ])
      +articleIcon([
        [
        'Equidad',
        'equidad.png',
        'El empoderamiento de las nuevas generaciones, la dignidad y el trato igualitario a la mujer, la visibilización y respeto de los derechos de todas las minorías como prioridad de la gestión pública. Trabajaremos por la generación de más y mejores oportunidades y por la superación de la inequidad, discriminación y violencias contra los más humildes y vulnerables.'
        ]
      ])
      +articleIcon([
        [
        'Esperanza',
        'esperanza.png',
        'Tenemos nuestros propósitos y nuestras metas claras. Construir la ciudad de nuestros sueños es un logro que nos une a todos a trabajar con optimismo esperando siempre lo mejor para el presente y futuro de Pitalito.'
        ]
      ])
      +articleIcon([
        [
        'Empatía',
        'empatia.png',
        'Nos sentimos orgullosos de ser hijos de esta hermosa tierra, compartimos los mismos sueños, anhelos que nos permitan forjar lasos de fraternidad, unidades irrompibles con la ciudadanía y pensar en la construcción participativa de la hoja de ruta que recorreremos de su mano.'
        ]
      ])
      +articleIcon([
        [
        'Excelencia',
        'excelencia.png',
        'Estamos orientados a dar lo mejor de cada uno en cada una de nuestras actuaciones, la búsqueda de la excelencia y el desarrollo humano es un compromiso. Por convicción creemos que como individuos tenemos la capacidad para generar el cambio que queremos como sociedad. Es cuestión de trabajar en equipo.'
        ]
      ])
      +articleIcon([
        [
        'Educación',
        'educacion.png',
        'Creemos en la educación como vía para transformar positivamente la sociedad. Mediante la cultura y el civismo forjaremos el paradigma de la Laboyanidad. Entendemos la educación como movilizador social alrededor de las artes, la ciencia, la tecnología y la innovación. La educación es el camino más seguro para desarrollar capacidades y romper ciclos de inequidad.'
        ]
      ])
      +articleIcon([
        [
        'Emprendimiento',
        'emprendimiento.png',
        'Estamos convencidos que podemos ser los protagonistas de nuestro propio desarrollo, impulsar el fomento de mayores y mejores oportunidades de empleo, educación y formación de empresa como prioridad de gobierno.'
        ]
      ])
  section.endContainer
    .endcontainer-imageQuery
      .endImage
    .endContainer-banner_end
        .endContainer-banner_endImage
  section.contactContainer
    .contactContainer-formBox
      .call
        h3.invitationText Se parte de la nueva Historia
      form(action="" method="")
        .formBox_left
          .textName
            label(for="nombre")
              |Nombre
            input(type="text" name="nombre" id="nombre" placeholder=" ..." value="")
          .textEmail
            label(for="email")
              |Correo Electrónico
            input(type="email" name="email" id="email" placeholder=" ..." value="")
          .textPhone
            label(for="telefono")
              |Teléfono
            input(type="text" name="telefono" id="telefono" placeholder=" ..." value="")
          .textId
            label(for="identificación")
              |Número de Cédula
            input(type="text" name="identificación" id="identificación" placeholder=" ..." value="")
        .formBox_right
          button(type="submit")
            |Hagamos Historia


    .contactContainer-imgBox
      img(src="/public/images/logo.png", alt="")
footer
  p.footerText todos los derechos reservados, Edgar Muñoz 2019
  p.footerText Sitio Web diseñado por departamento de marketing y comunicaciones, Edgar Muñoz
  p.footerText Desarrollado por CreaANDO WEB STUDIO


















  //-     +titlesPack('Scouts', 'Oxford')
  //-     article.mainContainer-body_b1
  //-       p.mainContainer-text1 #[span En el 2008 se plantea el primer colegio scout del país.] Se escogen el nombre de Oxford por ser la universidad donde enseño el papa del fundador del movimiento scout y se traen los colores ingleses Y comienza con tres ramas educativas y en el 2015 se da inicio a la cuarta rama rover.
  //-       p En sus años de trayectoria cuenta con más de 20 campamentos, siendo el grupo más grande de la región del meta.
  //-   section.infoContainer.mainContainer-links
  //-     +titleLinks('NUESTRA', 'HISTORIA', 'Nace en el año 1999 como grupo abierto', 'historia')
  //-       block Ventanamodal
  //-         +modalBox('NUESTRA HISTORIA', [[['']], ['La fundación de nuestro grupo scout se remonta a la culminación del siglo XX, año de 1999 y así, al despertar de un nuevo siglo como grupo abierto, que con el ánimo de ampliar la cobertura del escultismo en la región dimos el primer paso a nivel nacional para crear colegios scout. En el año 2008 se plantea el primer colegio scout del país como grupo cerrado, promoviendo las actividades de hermandad y valores basadas en el método scout.'],['Desde sus orígenes el grupo 2 Oxford ha contado con las ramas básicas de Lobatos y Scouts de Tropa, permitiendo la integración de la nueva rama de Caminantes desde su creación por la ASC y a partir del año 2015, se abre la rama rover para egresados y no egresados que deseen ser parte de nuestra misión: Construir un Mundo Mejor.'], ['Nuestros principios scout han sido la fortaleza de nuestra trayectoria, servir a Dios en todo momento y lugar, amar a nuestra nación única e indivisible y fundamentar el hogar como el núcleo que fortalece la familia y los valores.'], ['Dios, patria y hogar nos han permitido completar mas de 1000 horas de servicio a la comunidad, con nuestra sede campestre ser parte sostenible de nuestro medio ambiente y sobre todo, formar scouts felices que hoy en día representan lo mejor de nuestra sociedad.']], [['']], 'historia')
  //-     +titleLinks('LEY Y', 'PROMESA', 'La Orientación y forma de vivir para un verdadero Scout', 'ley')
  //-       block Ventanamodal
  //-         +modalBox('LEY Y PROMESA', [['LEY'], ['1. El Scout cifra su honor en ser digno de confianza.'], ['2. El Scout es leal.'], ['3. El Scout es útil y ayuda a los demás sin esperar recompensa.'], ['4. El Scout es amigo de todos y hermano de cualquier Scout sin distinción de credo, raza, nacionalidad o clase social.'], ['5. El Scout es cortes y respeta las convicciones de los demás.'], ['6. El Scout ve en la naturaleza la obra de Dios y procura su conservación y progreso.'], ['7. El Scout es obediente, responsable y ordenado.'], ['8. El Scout sonríe y canta en sus dificultades.'], ['9. El Scout es económico, trabajador y cuidadoso del bien ajeno.'], ['10. El Scout es limpio y sano, puro en pensamientos, palabras y acciones.']], [['PROMESA'], ['Por mi honor y con la gracia de Dios,'], ['Prometo hacer todo cuánto de mí dependa para:'], ['Cumplir mis deberes para con Dios y con la patria,'], ['Ayudar al prójimo en toda circunstancia;'], ['y Cumplir fielmente la ley Scout']],'promesa')
  //-     +titleLinks('NUESTROS', 'RECONOCIMIENTOS', 'Reconocimiento de embajadores de mensajeros de la Paz', 'reconocimientos')
  //-       block Ventanamodal
  //-         +modalBox('NUESTROS RECONOCIMIENTOS', [[['RECONOCIMIENTOS OBTENIDOS POR EL GRUPO SCOUT 2 OXFORD:']], ['em BLASON GRACIAS NACIONAL año 2011: La Corte de Honor Nacional concede el Blasón Gracias Nacional para agradecer a las personas y entidades que con sus acciones benefician a la comunidad'], ['GRACIAS RALLY NACIONAL DE LOBATOS 2013: La Corte de Honor Nacional concede el Gracias del Rally Nacional de Lobatos al grupo 2 Oxford por su activa y extensa participación “más allá del deber” en pro de los lobatos participantes y del Lobatismo Nacional.'], ['RECONOCIMIENTO NACIONAL DE MENSAJEROS DE LA PAZ año 2017: La Comisión Nacional Mundo Mejor que como embajador de mensajeros de la paz reconoce al Grupo scout 2 Oxford por ser pionero en iniciativas y acciones para construir un mundo mejor, en proyectos como: La canasta del amor, Chocolatadas, Cinco Panes y Tres Peces, Hogares de Vida y proyectos similares.'], ['GRACIAS - FUNDACIÓN SANAR: Por el apoyo incondicional en la recolección y donación de tapas para ayudar al desarrollo del programa de detención temprana a niños, niñas y adolescentes con cáncer.'], ['GRACIAS - FUNDACIÓN HOGAR SAN CAMILO: Por el apoyo incondicional en la recolección y donación de productos de primera necesidad para ayudar al bienestar de adultos mayores.'], ['DISTINCIÓN NACIONAL DANIEL ISAZA: De orden nacional, Su nombre hace honor al Sc Daniel Isaza, primer Jefe Scout Nacional y fue creada para reconocer al mejor Lobato, Scout, Caminante, Rover y Dirigente de un grupo Scout']], [['']], 'reconocimientos')
  //- section.mainContainer-sectionTwo
  //-   +titlesPack('Nuestro', 'Equipo')
  //-   article.mainContainer-body_b2
  //-     .wrap-text
  //-       .wrap-text__j1
  //-         p Luz azucena Valero -
  //-           span presidente de consejo
  //-         p Truman herrera -
  //-           span jefe de grupo
  //-         p David López Holguín -
  //-           span Subjefe de grupo
  //-       .wrap-text__j2
  //-         p Alejandra Salazar -
  //-           span Jefe de manada
  //-         p Miller Peña -
  //-           span Jefe de tropa
  //-         p Jhon Pulido -
  //-           span Jefe de comunidad
  //-         p David Alexander Melo -
  //-           span Jefe de Clan


  //- section.mainContainer-sectionThree
  //-   article.mainContainer-boxC
  //-     +titlesPack('Razón', 'de Ser')
  //-     .mainContainer-body_b3
  //-       p.mainContainer-text Millones de jóvenes en todo el mundo llevan voluntariamente el uniforme scout. Ser un verdadero ciudadano universal habla de convertir a niños en adultos impresionantes, personas que se valoren y valoren a los demás y que dediquen tiempo a quien lo necesite, todo ello sin necesidad de ninguna habilidad específica. Ser scout vas allá de un hobby, es ayudar a construir un mundo mejor en igualdad de condiciones, donde es prioridad el servicio por los demás y el medio ambiente.

  //-       p Por supuesto que la diversión y la amistad nos invaden, somos un grupo scout de personas chéveres que hacemos cosas chéveres.
  //-   article.mainContainer-boxInfo
  //-     .wrapOne
  //-       +boxInfo('MISIÓN', 'El grupo 2 Oxford contribuye en la educación de los jóvenes basado en valores', 'La Misión del Movimiento Scout es contribuir a la educación de los jóvenes, mediante un sistema de valores basado en la Promesa y la Ley Scout, para ayudar a construir un mundo mejor donde las personas se sientan realizadas como individuos y jueguen un papel constructivo en la sociedad.' )
  //-     .wrapTwo
  //-       +boxInfo('VISIÓN', 'El grupo 2 Oxford comparte la visión de nuestra asociación.', 'Para el 2023, la Asociación Scouts de Colombia será uno de los movimientos juveniles líderes en nuestro país, permitiendo a 50.000 jóvenes convertirse en ciudadanos activos y gestores de paz, creando un cambio positivo en sus comunidades basado en los valores compartidos.' )

