//- variables generales del proyecto
-empresa='Campaña Edgar Muñoz'
-pages=['Inicio', 'Edgar Muñoz', 'Así Somos', 'Enterate', 'Contacto']
-sites=['#inicio', '#edgarmunoz', 'https://codigocreativo.com.co/blog/', 'https://codigocreativo.com.co/contacto/', './portafolio.html']
-services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
-serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
-servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='#EsPorPitalito'
-siteTitle= empresa
-description='Quiere que su negocio tenga visibilidad 24 horas al dia y 7 dias a la semana? Con nosotros encontrará todo lo necesario para impulsar su marca en el mundo digital dándole visibilidad a su negocio para ganar nuevos clientes, incrementar sus ventas e ingresos.'
-sizeImgServices=300
