//- variables generales del proyecto
-empresa='Campaña Edgar Muñoz'
-pages=['Inicio', 'Edgar Muñoz', 'Así Somos', 'Entérate', 'Programa','Hoja de vida']
-sites=['#inicio', '#edgarmunoz', '#somos', '#contacto', './programa.html','./portafolio.html']
-services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
//- -serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
//- -servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='#EsPorPitalito'
-siteTitle= empresa
-description='Los principios son los medios que definen y orientan nuestro camino, quienes somos y como actuamos, trabajar unidos en favor de nuestra ciudad es el fin que nos convoca a todos. #EsPorPitalito'
-sizeImgServices=300
