mixin headerTitleIcon(titulo)
  section.titleIcon-Information
    each item in titulo
      div(class= "titleIcon-Information_icon icon_"+`${item[0]}`)
        i(class=`${item[2]}`+" "+"fa-"+`${item[0]}`)
      .titleIcon-Information_title
        h3.titleInfo #{item[1]}

