<div class="header">
    <div class="overlay">
        //- <div class="container-custom">
        //-     <ul class="nav-one">
        //-         <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
        //-         <li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
        //-         <li><a href="#">login / Register</a></li>
        //-     </ul>
        //- </div>
        <div class="container">
            <div class="logo-nav">
                <div class="logo">
                  <a href="#">
                    <span>EM</span>AN LOGO
                  </a>
                </div>
                <i class="fa fa-bars fa-2x"></i>
                <ul class="nav-two">
                    <li class="active">Home</li>
                    <li>About</li>
                    <li>Portofolio</li>
                    <li>Shortcodes</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li><i class="fa fa-search"></i></li>
                    <li class="slide"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

.header
  .overlay
    .container
      .logo-nav
        .logo
          a(href="#", title="Edgar Muñoz")=empresa
          i.fa.fa-bars.fa-2x
          ul.nav-two
            li sobre
            li portafolio
            li codigo
            li blog
            li contacto


