extends ../includes/layout

append config
  -pageTitle= "Mi vida"
  -description="Es hora de hacer un cambio a la historia de Pitalito"
  -sites=['index.html', 'index.html#edgarmunoz', 'index.html#somos', 'index.html#contacto', './programa.html','./portafolio.html']

block content
  section.portafolio
    .portafolio-container
      .mainContainer-banner
        .mainContainer-banner_image
          img(src="/images/mivida.png", alt="" height="60px")
      .portafolio-book
        <iframe style='width:980px;height:540px' src='http://online.flipbuilder.com/qhme/njvg/mobile/index.html#p=1'  seamless='seamless' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true' ></iframe>
