.heroWrap{
  // background-color: gray;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 8% 12% 15% 10% 10% 8% 12% 10% 15%;
  &-background{
    // background-color: blueviolet;
    grid-column: 1 / 9;
    grid-row: 1 / 8;
  }
  &-contact{
    // background-color: pink;
    grid-column: 9 / 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .number, .text {
      // background-color: orange;
      @include centerFlex;
    }
    .icon {
      // background-color: aqua;
    }
    &_number{
      // background-color: red;
      width: 100%;
      grid-column: 1 / 9;
      grid-row: 1 / 2;
    }
    &_text{
      // background-color: lawngreen;
      width: 100%;
      grid-column: 1 / 9;
      grid-row: 2 / 3;
    }
    .contactBox{
      // background-color: orange;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      &-text{
        grid-column: 1 / 7;
      }
      &-icon{
        grid-column: 7 / 9;
      }
    }
  }
  &-sello{
    // background-color: firebrick;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  &-lema{
    // background-color: lawngreen;
    grid-column: 1 / 9;
    grid-row: 8 / 9;
    @include centerFlex;
  }
  &-logos{
    // background-color: royalblue;
    grid-column: 1 / 9;
    grid-row: 9 / 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @include centerFlex;
    .pacto{
      // background-color: aqua;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .gen{
      // background-color: orange;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .mujer{
      // background-color: indianred;
      grid-column: 3 / 4;
    }
  }
}
.mainContainer{
  // background-color: blue;
  &-banner{
    // background-color: brown;
  }
  &-information{
    // background-color: mediumaquamarine;
    &_academy{
      // background-color: chartreuse;
      // height: 100vh;
      &__info{
        // background-color: bisque;
      }
    }
    &_biography{
      // background-color: pink;
    }
    &_accomp{
      // background-color:red ;
      &__info{
        grid-template-rows: repeat(10, 1fr);
        .wrapAccomp{
          display: grid;
          margin-bottom: 0.5rem;
          grid-template-columns: 10% 90%;
          grid-template-rows: 1fr 1fr;
          // justify-items: center;
          // align-items: center;
          // justify-content: center;
          // align-content: center;
          // @include centerFlex;
          // flex-direction: row-reverse;
          .contentInformation {
            // background-color: aquamarine;
            // height: 100%;
            margin-left: 0.5rem;
            grid-column: 2 / 3;
            grid-row: 1 / 3;
          }

          .modalBox {
            // background-color: plum;
            // height: 10%;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
          }
          .contentList{
            grid-column: 1 / 3;
            grid-row: 1 / 3;
          }
          .contentList-gestion{
            grid-column: 1 / 3;
            grid-row: 1 / 3;
          }
        }
        .one{
          // background-color: red;
          grid-row: 1 / 2;
        }
        .two {
          // background-color: blue;
          grid-row: 2 / 3;
        }
        .three {
          // background-color:olivedrab ;
          grid-row: 3 / 4;
        }
        .for {
          // background-color:yellow ;
          grid-row: 4 / 5;
        }
        .five {
          // background-color:salmon ;
          grid-row: 5 / 6;
        }
        .six {
          // background-color:navy ;
          grid-row: 6 / 7;
        }
        .seven {
          // background-color:royalblue ;
          grid-row: 7 / 8;
        }
        .eight {
          // background-color:aqua ;
          grid-row: 8 / 9;
        }
        .nine {
          // background-color:crimson ;
          grid-row: 9 / 10;
        }
        .ten {
          // background-color: red;
          grid-row: 10 / 11;
        }
      }
    }
    &_imageQuery {
      // background-color:blue ;
      height: 50vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);
      .image{
        // background-color: aqua;
        grid-column: 2 / 3;
        grid-rows: 1 / 2;
      }
    }
    &_recog{
      // background-color:orange ;
    }
    &_politic{
      // background-color:indigo ;
    }
    &_traject{
      // background-color:yellow ;
    }
    &_other{
      // background-color: peru;
    }
  }
  &-banner_mid{
    // background-color: crimson;
    .midContainer-imageQuery{
      background-color: aqua;

    }
  }
}
.midContainer{
  // background-color: chocolate;
  &-imageQuery {
    // background-color:blue ;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

    .image {
      // background-color: aqua;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  }
}
.endContainer{
  // background-color: palegreen;
  height: 100vh;
  display: grid;
  grid-auto-rows: 80% 20%;
  &-imageQuery{
    // background-color: brown;
    grid-row: 1 / 2;
  }
  &-bannerEnd{
    // background-color: darkblue;
    grid-row: 2 / 3;
    &_images{
      // background-color: royalblue;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      @include centerFlex;

      .pacto {
        // background-color: aqua;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .gen {
        // background-color: orange;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .mujer {
        // background-color: indianred;
        grid-column: 3 / 4;
      }
    }
  }
}
.contactContainer{
  // background-color: #4D4D4D;
  &-formBox{
    // background-color: aqua;
    .call{
      // background-color: blueviolet;
    }
    .formBox{
      // background-color: antiquewhite;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      &-left{
        // background-color: brown;
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        &_text{
          // background-color: aqua;
          label{
            // background-color: blueviolet;
          }
          input{
          }
        }
      }
      &-right{
        // background-color:olivedrab ;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        &_ref{
        }
        a{
        }
      }
    }
  }
  &-imgBox{
    height: 30vh;
  }
}

@include mQ(xsS){
  body{
    // background-color: rebeccapurple;
    .heroWrap{
  // background-color: gray;
  // height: 100vh;
  // display: grid;
  // grid-template-columns: repeat(8, 1fr);
  // grid-template-rows: 8% 12% 15% 40% 10% 15%;
  &-background{
    // background-color: blueviolet;
    // grid-column: 1 / 9;
    // grid-row: 1 / 5;
  }
  &-contact{
    // background-color: pink;
    // grid-column: 9 / 4;
    // grid-row: 2 / 3;
    // display: flex;
    // flex-wrap: wrap;
    .number, .text {
      // background-color: orange;
      // width: 80%;
      // @include centerFlex;
    }
    .icon {
      // background-color: aqua;
      // width: 20%;
      // @include centerFlex;
    }
    &_number{
      // background-color: red;
      // width: 100%;
      // display: flex;
      // flex-wrap: nowrap;


    }
    &_text{
      // background-color: lawngreen;
      // width: 100%;
      // display: flex;
      // flex-wrap: nowrap;
    }
  }
  &-sello{
    // background-color: firebrick;
    // grid-column: 1 / 4;
    // grid-row: 3 / 4;
  }
  &-lema{
    // background-color: lawngreen;
    // grid-column: 1 / 9;
    // grid-row: 5 / 6;
    // @include centerFlex;
  }
  &-logos{
    // background-color: royalblue;
    // grid-column: 1 / 9;
    // grid-row: 6 / 7;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    // @include centerFlex;
    .pacto{
      // background-color: aqua;
      // grid-column: 1 / 2;
      // grid-row: 1 / 2;
    }
    .gen{
      // background-color: orange;
      // grid-column: 2 / 3;
      // grid-row: 1 / 2;
    }
    .mujer{
      // background-color: indianred;
      // grid-column: 3 / 4;
    }
  }
}
.mainContainer{
  // background-color: blue;
  &-banner{
    // background-color: brown;
  }
  &-information{
    // background-color: mediumaquamarine;
    &_academy{
      // background-color: chartreuse;
      // height: 100vh;
      &__info{
        // background-color: bisque;
      }
    }
    &_biography{
      // background-color: pink;
    }
    &_accomp{
      // background-color:red ;
      &__info{
        // grid-template-rows: repeat(10, 1fr);
        .wrapAccomp{
          // display: grid;
          // margin-bottom: 0.5rem;
          // grid-template-columns: 10% 90%;
          // grid-template-rows: 1fr 1fr;
          // justify-items: center;
          // align-items: center;
          // justify-content: center;
          // align-content: center;
          // @include centerFlex;
          // flex-direction: row-reverse;
          .contentInformation {
            // background-color: aquamarine;
            // height: 100%;
            // margin-left: 0.5rem;
            // grid-column: 2 / 3;
            // grid-row: 1 / 3;
          }

          .modalBox {
            // background-color: plum;
            // height: 10%;
            // grid-column: 1 / 2;
            // grid-row: 1 / 3;
          }
          .contentList{
            // grid-column: 1 / 3;
            // grid-row: 1 / 3;
          }
          .contentList-gestion{
            // grid-column: 1 / 3;
            // grid-row: 1 / 3;
          }
        }
        .one{
          // background-color: red;
          // grid-row: 1 / 2;
        }
        .two {
          // background-color: blue;
          // grid-row: 2 / 3;
        }
        .three {
          // background-color:olivedrab ;
          // grid-row: 3 / 4;
        }
        .for {
          // background-color:yellow ;
          // grid-row: 4 / 5;
        }
        .five {
          // background-color:salmon ;
          // grid-row: 5 / 6;
        }
        .six {
          // background-color:navy ;
          // grid-row: 6 / 7;
        }
        .seven {
          // background-color:royalblue ;
          // grid-row: 7 / 8;
        }
        .eight {
          // background-color:aqua ;
          // grid-row: 8 / 9;
        }
        .nine {
          // background-color:crimson ;
          // grid-row: 9 / 10;
        }
        .ten {
          // background-color: red;
          // grid-row: 10 / 11;
        }
      }
    }
    &_imageQuery {
      // background-color:blue ;
      // height: 50vh;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: repeat(4, 1fr);
      .image{
        // background-color: aqua;
        // grid-column: 2 / 3;
        // grid-rows: 1 / 2;
      }
    }
    &_recog{
      // background-color:orange ;
    }
    &_politic{
      // background-color:indigo ;
    }
    &_traject{
      // background-color:yellow ;
    }
    &_other{
      // background-color: peru;
    }
  }
  &-banner_mid{
    // background-color: crimson;
    .midContainer-imageQuery{
      // background-color: aqua;

    }
  }
}
.midContainer{
  // background-color: chocolate;
  &-imageQuery {
    // background-color:blue ;
    // height: 40vh;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: repeat(4, 1fr);

    .image {
      // background-color: aqua;
      // grid-column: 1 / 2;
      // grid-row: 4 / 5;
    }
  }
}
.endContainer{
  // background-color: palegreen;
  // height: 100vh;
  // display: grid;
  // grid-auto-rows: 80% 20%;
  &-imageQuery{
    // background-color: brown;
    // grid-row: 1 / 2;
  }
  &-bannerEnd{
    // background-color: darkblue;
    // grid-row: 2 / 3;
    &_images{
      // background-color: royalblue;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: 1fr 1fr;
      // @include centerFlex;

      .pacto {
        // background-color: aqua;
        // grid-column: 1 / 2;
        // grid-row: 1 / 2;
      }

      .gen {
        // background-color: orange;
        // grid-column: 2 / 3;
        // grid-row: 1 / 2;
      }

      .mujer {
        // background-color: indianred;
        // grid-column: 3 / 4;
      }
    }
  }
}
.contactContainer{
  // background-color: #4D4D4D;
  &-formBox{
    // background-color: aqua;
    .call{
      // background-color: blueviolet;
    }
    .formBox{
      // background-color: antiquewhite;
      // display: grid;
      // grid-template-columns: 80% 20%;
      &-left{
        // background-color: brown;

        &_text{
          // background-color: aqua;
          label{
            // background-color: blueviolet;
          }
          input{
          }
        }
      }
      &-right{
        // background-color:olivedrab ;
        &_ref{
        }
        a{
        }
      }
    }
  }
  &-imgBox{
    // height: 30vh;
  }
}
  }
}
@include mQ(smallS){
  body{
    // background-color: orangered;
    .heroWrap {

      // background-color: gray;
      // height: 100vh;
      // display: grid;
      // grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: 8% 12% 15% 40% 10% 15%;
      &-background {
        // background-color: blueviolet;
        // grid-column: 1 / 9;
        // grid-row: 1 / 5;
      }

      &-contact {
        // background-color: pink;
        grid-column: 5 / 9;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .number,
        .text {
          // background-color: orange;
          @include centerFlex;
        }

        .icon {
          // background-color: aqua;
        }

        &_number {
          // background-color: red;
          width: 100%;
          grid-column: 1 / 9;
          grid-row: 1 / 2;
        }

        &_text {
          // background-color: lawngreen;
          width: 100%;
          grid-column: 1 / 9;
          grid-row: 2 / 3;
        }

        .contactBox {
          // background-color: orange;
          display: grid;
          grid-template-columns: repeat(8, 1fr);

          &-text {
            grid-column: 1 / 7;
          }

          &-icon {
            grid-column: 7 / 9;
          }
        }
      }


      &-sello {
        // background-color: firebrick;
        // grid-column: 1 / 4;
        // grid-row: 3 / 4;
      }

      &-lema {
        // background-color: lawngreen;
        // grid-column: 1 / 9;
        // grid-row: 5 / 6;
        // @include centerFlex;
      }

      &-logos {

        // background-color: royalblue;
        // grid-column: 1 / 9;
        // grid-row: 6 / 7;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // @include centerFlex;
        .pacto {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 1 / 2;
        }

        .gen {
          // background-color: orange;
          // grid-column: 2 / 3;
          // grid-row: 1 / 2;
        }

        .mujer {
          // background-color: indianred;
          // grid-column: 3 / 4;
        }
      }
    }

    .mainContainer {

      // background-color: blue;
      &-banner {
        // background-color: brown;
      }

      &-information {

        // background-color: mediumaquamarine;
        &_academy {

          // background-color: chartreuse;
          // height: 100vh;
          &__info {
            // background-color: bisque;
          }
        }

        &_biography {
          // background-color: pink;
        }

        &_accomp {

          // background-color:red ;
          &__info {

            // grid-template-rows: repeat(10, 1fr);
            .wrapAccomp {

              // display: grid;
              // margin-bottom: 0.5rem;
              // grid-template-columns: 10% 90%;
              // grid-template-rows: 1fr 1fr;
              // justify-items: center;
              // align-items: center;
              // justify-content: center;
              // align-content: center;
              // @include centerFlex;
              // flex-direction: row-reverse;
              .contentInformation {
                // background-color: aquamarine;
                // height: 100%;
                // margin-left: 0.5rem;
                // grid-column: 2 / 3;
                // grid-row: 1 / 3;
              }

              .modalBox {
                // background-color: plum;
                // height: 10%;
                // grid-column: 1 / 2;
                // grid-row: 1 / 3;
              }

              .contentList {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }

              .contentList-gestion {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }
            }

            .one {
              // background-color: red;
              // grid-row: 1 / 2;
            }

            .two {
              // background-color: blue;
              // grid-row: 2 / 3;
            }

            .three {
              // background-color:olivedrab ;
              // grid-row: 3 / 4;
            }

            .for {
              // background-color:yellow ;
              // grid-row: 4 / 5;
            }

            .five {
              // background-color:salmon ;
              // grid-row: 5 / 6;
            }

            .six {
              // background-color:navy ;
              // grid-row: 6 / 7;
            }

            .seven {
              // background-color:royalblue ;
              // grid-row: 7 / 8;
            }

            .eight {
              // background-color:aqua ;
              // grid-row: 8 / 9;
            }

            .nine {
              // background-color:crimson ;
              // grid-row: 9 / 10;
            }

            .ten {
              // background-color: red;
              // grid-row: 10 / 11;
            }
          }
        }

        &_imageQuery {

          // background-color:blue ;
          // height: 50vh;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: repeat(4, 1fr);
          .image {
            // background-color: aqua;
            // grid-column: 2 / 3;
            // grid-rows: 1 / 2;
          }
        }

        &_recog {
          // background-color:orange ;
        }

        &_politic {
          // background-color:indigo ;
        }

        &_traject {
          // background-color:yellow ;
        }

        &_other {
          // background-color: peru;
        }
      }

      &-banner_mid {

        // background-color: crimson;
        .midContainer-imageQuery {
          // background-color: aqua;

        }
      }
    }

    .midContainer {

      // background-color: chocolate;
      &-imageQuery {
        // background-color:blue ;
        // height: 40vh;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: repeat(4, 1fr);

        .image {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 4 / 5;
        }
      }
    }

    .endContainer {

      // background-color: palegreen;
      // height: 100vh;
      // display: grid;
      // grid-auto-rows: 80% 20%;
      &-imageQuery {
        // background-color: brown;
        // grid-row: 1 / 2;
      }

      &-bannerEnd {

        // background-color: darkblue;
        // grid-row: 2 / 3;
        &_images {
          // background-color: royalblue;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: 1fr 1fr;
          // @include centerFlex;

          .pacto {
            // background-color: aqua;
            // grid-column: 1 / 2;
            // grid-row: 1 / 2;
          }

          .gen {
            // background-color: orange;
            // grid-column: 2 / 3;
            // grid-row: 1 / 2;
          }

          .mujer {
            // background-color: indianred;
            // grid-column: 3 / 4;
          }
        }
      }
    }

    .contactContainer {

      // background-color: #4D4D4D;
      &-formBox {

        // background-color: aqua;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        .call {
          // background-color: blueviolet;
          grid-column: 1 / 13;
        }

        .formBox {

          // background-color: antiquewhite;
          grid-column: 1 / 13;
          display: grid;
          grid-template-columns: 75% 25%;
          grid-template-rows: 1fr 1fr;

          &-left {
            // background-color: brown;
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            &_text {
              display: grid;
              grid-template-columns: repeat(6, 1fr);

              // background-color: aqua;
              label {
                // background-color: blueviolet;
                grid-column: 1 / 3;
              }

              input {
                grid-column: 3 / 7;
              }
            }
          }

          &-right {
            // background-color:olivedrab ;
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            &_ref {}

            a {}
          }
        }
      }

      &-imgBox {
        // height: 30vh;
      }
    }
  }
}
@include mQ(mediumS){
  body{
    // background-color: yellowgreen;
    .heroWrap {

      // background-color: gray;
      // height: 100vh;
      // display: grid;
      // grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: 8% 12% 15% 40% 10% 15%;
      &-background {
        // background-color: blueviolet;
        // grid-column: 1 / 9;
        // grid-row: 1 / 5;
      }

      &-contact {
        // background-color: pink;
        grid-column: 6 / 9;
        // grid-row: 2 / 3;
        // display: grid;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: repeat(2, 1fr);

        .number,
        .text {
          // background-color: orange;
          // @include centerFlex;
        }

        .icon {
          // background-color: aqua;
        }

        &_number {
          // background-color: red;
          // width: 100%;
          // grid-column: 1 / 9;
          // grid-row: 1 / 2;
        }

        &_text {
          // background-color: lawngreen;
          // width: 100%;
          // grid-column: 1 / 9;
          // grid-row: 2 / 3;
        }

        .contactBox {
          // background-color: orange;
          // display: grid;
          // grid-template-columns: repeat(8, 1fr);

          &-text {
            // grid-column: 1 / 7;
          }

          &-icon {
            // grid-column: 7 / 9;
          }
        }
      }

      &-sello {
        // background-color: firebrick;
        // grid-column: 1 / 4;
        // grid-row: 3 / 4;
      }

      &-lema {
        // background-color: lawngreen;
        // grid-column: 1 / 9;
        // grid-row: 5 / 6;
        // @include centerFlex;
      }

      &-logos {

        // background-color: royalblue;
        // grid-column: 1 / 9;
        // grid-row: 6 / 7;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // @include centerFlex;
        .pacto {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 1 / 2;
        }

        .gen {
          // background-color: orange;
          // grid-column: 2 / 3;
          // grid-row: 1 / 2;
        }

        .mujer {
          // background-color: indianred;
          // grid-column: 3 / 4;
        }
      }
    }

    .mainContainer {

      // background-color: blue;
      &-banner {
        // background-color: brown;
      }

      &-information {

        // background-color: mediumaquamarine;
        &_academy {

          // background-color: chartreuse;
          // height: 100vh;
          &__info {
            // background-color: bisque;
          }
        }

        &_biography {
          // background-color: pink;
        }

        &_accomp {

          // background-color:red ;
          &__info {

            // grid-template-rows: repeat(10, 1fr);
            .wrapAccomp {

              // display: grid;
              // margin-bottom: 0.5rem;
              // grid-template-columns: 10% 90%;
              // grid-template-rows: 1fr 1fr;
              // justify-items: center;
              // align-items: center;
              // justify-content: center;
              // align-content: center;
              // @include centerFlex;
              // flex-direction: row-reverse;
              .contentInformation {
                // background-color: aquamarine;
                // height: 100%;
                // margin-left: 0.5rem;
                // grid-column: 2 / 3;
                // grid-row: 1 / 3;
              }

              .modalBox {
                // background-color: plum;
                // height: 10%;
                // grid-column: 1 / 2;
                // grid-row: 1 / 3;
              }

              .contentList {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }

              .contentList-gestion {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }
            }

            .one {
              // background-color: red;
              // grid-row: 1 / 2;
            }

            .two {
              // background-color: blue;
              // grid-row: 2 / 3;
            }

            .three {
              // background-color:olivedrab ;
              // grid-row: 3 / 4;
            }

            .for {
              // background-color:yellow ;
              // grid-row: 4 / 5;
            }

            .five {
              // background-color:salmon ;
              // grid-row: 5 / 6;
            }

            .six {
              // background-color:navy ;
              // grid-row: 6 / 7;
            }

            .seven {
              // background-color:royalblue ;
              // grid-row: 7 / 8;
            }

            .eight {
              // background-color:aqua ;
              // grid-row: 8 / 9;
            }

            .nine {
              // background-color:crimson ;
              // grid-row: 9 / 10;
            }

            .ten {
              // background-color: red;
              // grid-row: 10 / 11;
            }
          }
        }

        &_imageQuery {

          // background-color:blue ;
          // height: 50vh;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: repeat(4, 1fr);
          .image {
            // background-color: aqua;
            // grid-column: 2 / 3;
            // grid-rows: 1 / 2;
          }
        }

        &_recog {
          // background-color:orange ;
        }

        &_politic {
          // background-color:indigo ;
        }

        &_traject {
          // background-color:yellow ;
        }

        &_other {
          // background-color: peru;
        }
      }

      &-banner_mid {

        // background-color: crimson;
        .midContainer-imageQuery {
          // background-color: aqua;

        }
      }
    }

    .midContainer {

      // background-color: chocolate;
      &-imageQuery {
        // background-color:blue ;
        // height: 40vh;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: repeat(4, 1fr);

        .image {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 4 / 5;
        }
      }
    }

    .endContainer {

      // background-color: palegreen;
      // height: 100vh;
      // display: grid;
      // grid-auto-rows: 80% 20%;
      &-imageQuery {
        // background-color: brown;
        // grid-row: 1 / 2;
      }

      &-bannerEnd {

        // background-color: darkblue;
        // grid-row: 2 / 3;
        &_images {
          // background-color: royalblue;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: 1fr 1fr;
          // @include centerFlex;

          .pacto {
            // background-color: aqua;
            // grid-column: 1 / 2;
            // grid-row: 1 / 2;
          }

          .gen {
            // background-color: orange;
            // grid-column: 2 / 3;
            // grid-row: 1 / 2;
          }

          .mujer {
            // background-color: indianred;
            // grid-column: 3 / 4;
          }
        }
      }
    }

    .contactContainer {

      // background-color: #4D4D4D;
      &-formBox {

        // background-color: aqua;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .call {
          // background-color: blueviolet;
          grid-column: 1 / 13;
        }

        .formBox {

          // background-color: antiquewhite;
          grid-column: 2 / 12;
          display: grid;
          grid-template-columns: 75% 25%;
          grid-template-rows: 1fr 1fr;

          &-left {
            // background-color: brown;
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            &_text {
              display: grid;
              grid-template-columns: repeat(6, 1fr);

              // background-color: aqua;
              label {
                // background-color: blueviolet;
                grid-column: 1 / 3;
              }

              input {
                grid-column: 3 / 7;
              }
            }
          }

          &-right {
            // background-color:olivedrab ;
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            &_ref {}

            a {}
          }
        }
      }

      &-imgBox {
        // height: 30vh;
      }
    }
  }
}
@include mQ(wideS){
  body{
    // background-color: teal;
    .heroWrap {

      // background-color: gray;
      // height: 100vh;
      // display: grid;
      // grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: 8% 12% 15% 40% 10% 15%;
      &-background {
        // background-color: blueviolet;
        // grid-column: 1 / 9;
        // grid-row: 1 / 5;
      }

      &-contact {
        // background-color: pink;
        grid-column: 6 / 9;
        // grid-row: 2 / 3;
        // display: grid;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: repeat(2, 1fr);

        .number,
        .text {
          // background-color: orange;
          // @include centerFlex;
        }

        .icon {
          // background-color: aqua;
        }

        &_number {
          // background-color: red;
          // width: 100%;
          // grid-column: 1 / 9;
          // grid-row: 1 / 2;
        }

        &_text {
          // background-color: lawngreen;
          // width: 100%;
          // grid-column: 1 / 9;
          // grid-row: 2 / 3;
        }

        .contactBox {
          // background-color: orange;
          // display: grid;
          // grid-template-columns: repeat(8, 1fr);

          &-text {
            // grid-column: 1 / 7;
          }

          &-icon {
            // grid-column: 7 / 9;
          }
        }
      }

      &-sello {
        // background-color: firebrick;
        // grid-column: 1 / 4;
        // grid-row: 3 / 4;
      }

      &-lema {
        // background-color: lawngreen;
        // grid-column: 1 / 9;
        // grid-row: 5 / 6;
        // @include centerFlex;
      }

      &-logos {

        // background-color: royalblue;
        // grid-column: 1 / 9;
        // grid-row: 6 / 7;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // @include centerFlex;
        .pacto {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 1 / 2;
        }

        .gen {
          // background-color: orange;
          // grid-column: 2 / 3;
          // grid-row: 1 / 2;
        }

        .mujer {
          // background-color: indianred;
          // grid-column: 3 / 4;
        }
      }
    }

    .mainContainer {

      // background-color: blue;
      &-banner {
        // background-color: brown;
      }

      &-information {

        // background-color: mediumaquamarine;
        &_academy {

          // background-color: chartreuse;
          // height: 100vh;
          &__info {
            // background-color: bisque;
          }
        }

        &_biography {
          // background-color: pink;
        }

        &_accomp {

          // background-color:red ;
          &__info {

            // grid-template-rows: repeat(10, 1fr);
            .wrapAccomp {

              // display: grid;
              // margin-bottom: 0.5rem;
              // grid-template-columns: 10% 90%;
              // grid-template-rows: 1fr 1fr;
              // justify-items: center;
              // align-items: center;
              // justify-content: center;
              // align-content: center;
              // @include centerFlex;
              // flex-direction: row-reverse;
              .contentInformation {
                // background-color: aquamarine;
                // height: 100%;
                // margin-left: 0.5rem;
                // grid-column: 2 / 3;
                // grid-row: 1 / 3;
              }

              .modalBox {
                // background-color: plum;
                // height: 10%;
                // grid-column: 1 / 2;
                // grid-row: 1 / 3;
              }

              .contentList {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }

              .contentList-gestion {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }
            }

            .one {
              // background-color: red;
              // grid-row: 1 / 2;
            }

            .two {
              // background-color: blue;
              // grid-row: 2 / 3;
            }

            .three {
              // background-color:olivedrab ;
              // grid-row: 3 / 4;
            }

            .for {
              // background-color:yellow ;
              // grid-row: 4 / 5;
            }

            .five {
              // background-color:salmon ;
              // grid-row: 5 / 6;
            }

            .six {
              // background-color:navy ;
              // grid-row: 6 / 7;
            }

            .seven {
              // background-color:royalblue ;
              // grid-row: 7 / 8;
            }

            .eight {
              // background-color:aqua ;
              // grid-row: 8 / 9;
            }

            .nine {
              // background-color:crimson ;
              // grid-row: 9 / 10;
            }

            .ten {
              // background-color: red;
              // grid-row: 10 / 11;
            }
          }
        }

        &_imageQuery {

          // background-color:blue ;
          // height: 50vh;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: repeat(4, 1fr);
          .image {
            // background-color: aqua;
            // grid-column: 2 / 3;
            // grid-rows: 1 / 2;
          }
        }

        &_recog {
          // background-color:orange ;
        }

        &_politic {
          // background-color:indigo ;
        }

        &_traject {
          // background-color:yellow ;
        }

        &_other {
          // background-color: peru;
        }
      }

      &-banner_mid {

        // background-color: crimson;
        .midContainer-imageQuery {
          // background-color: aqua;

        }
      }
    }

    .midContainer {

      // background-color: chocolate;
      &-imageQuery {
        // background-color:blue ;
        // height: 40vh;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: repeat(4, 1fr);

        .image {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 4 / 5;
        }
      }
    }

    .endContainer {

      // background-color: palegreen;
      // height: 100vh;
      // display: grid;
      // grid-auto-rows: 80% 20%;
      &-imageQuery {
        // background-color: brown;
        // grid-row: 1 / 2;
      }

      &-bannerEnd {

        // background-color: darkblue;
        // grid-row: 2 / 3;
        &_images {
          // background-color: royalblue;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: 1fr 1fr;
          // @include centerFlex;

          .pacto {
            // background-color: aqua;
            // grid-column: 1 / 2;
            // grid-row: 1 / 2;
          }

          .gen {
            // background-color: orange;
            // grid-column: 2 / 3;
            // grid-row: 1 / 2;
          }

          .mujer {
            // background-color: indianred;
            // grid-column: 3 / 4;
          }
        }
      }
    }

    .contactContainer {

      // background-color: #4D4D4D;
      &-formBox {

        // background-color: aqua;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .call {
          // background-color: blueviolet;
          grid-column: 2 / 12;
        }

        .formBox {

          // background-color: antiquewhite;
          grid-column: 3 / 11;
          display: grid;
          grid-template-columns: 75% 25%;
          grid-template-rows: 1fr 1fr;

          &-left {
            // background-color: brown;
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            &_text {
              display: grid;
              grid-template-columns: repeat(6, 1fr);

              // background-color: aqua;
              label {
                // background-color: blueviolet;
                grid-column: 1 / 3;
              }

              input {
                grid-column: 3 / 7;
              }
            }
          }

          &-right {
            // background-color:olivedrab ;
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            &_ref {}

            a {}
          }
        }
      }

      &-imgBox {
        // height: 30vh;
      }
    }
  }
}
@include mQ(largeS){
  body{
    // background-color: violet;
    .heroWrap {

      // background-color: gray;
      // height: 100vh;
      // display: grid;
      // grid-template-columns: repeat(8, 1fr);
      // grid-template-rows: 8% 12% 15% 40% 10% 15%;
      &-background {
        // background-color: blueviolet;
        // grid-column: 1 / 9;
        // grid-row: 1 / 5;
      }

      &-contact {
        // background-color: pink;
        grid-column: 7 / 9;
        grid-row: 7;
        // display: grid;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: repeat(2, 1fr);

        .number,
        .text {
          // background-color: orange;
          // @include centerFlex;
        }

        .icon {
          // background-color: aqua;
        }

        &_number {
          // background-color: red;
          // width: 100%;
          // grid-column: 1 / 9;
          // grid-row: 1 / 2;
        }

        &_text {
          // background-color: lawngreen;
          // width: 100%;
          // grid-column: 1 / 9;
          // grid-row: 2 / 3;
        }

        .contactBox {
          // background-color: orange;
          // display: grid;
          // grid-template-columns: repeat(8, 1fr);

          &-text {
            // grid-column: 1 / 7;
          }

          &-icon {
            // grid-column: 7 / 9;
          }
        }
      }

      &-sello {
        // background-color: firebrick;
        // grid-column: 1 / 4;
        // grid-row: 3 / 4;
      }

      &-lema {
        // background-color: lawngreen;
        // grid-column: 1 / 9;
        // grid-row: 5 / 6;
        // @include centerFlex;
      }

      &-logos {

        // background-color: royalblue;
        // grid-column: 1 / 9;
        // grid-row: 6 / 7;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // @include centerFlex;
        .pacto {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 1 / 2;
        }

        .gen {
          // background-color: orange;
          // grid-column: 2 / 3;
          // grid-row: 1 / 2;
        }

        .mujer {
          // background-color: indianred;
          // grid-column: 3 / 4;
        }
      }
    }

    .mainContainer {

      // background-color: blue;
      &-banner {
        // background-color: brown;
      }

      &-information {

        // background-color: mediumaquamarine;
        &_academy {

          // background-color: chartreuse;
          // height: 100vh;
          &__info {
            // background-color: bisque;
          }
        }

        &_biography {
          // background-color: pink;
        }

        &_accomp {

          // background-color:red ;
          &__info {

            // grid-template-rows: repeat(10, 1fr);
            .wrapAccomp {

              // display: grid;
              // margin-bottom: 0.5rem;
              // grid-template-columns: 10% 90%;
              // grid-template-rows: 1fr 1fr;
              // justify-items: center;
              // align-items: center;
              // justify-content: center;
              // align-content: center;
              // @include centerFlex;
              // flex-direction: row-reverse;
              .contentInformation {
                // background-color: aquamarine;
                // height: 100%;
                // margin-left: 0.5rem;
                // grid-column: 2 / 3;
                // grid-row: 1 / 3;
              }

              .modalBox {
                // background-color: plum;
                // height: 10%;
                // grid-column: 1 / 2;
                // grid-row: 1 / 3;
              }

              .contentList {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }

              .contentList-gestion {
                // grid-column: 1 / 3;
                // grid-row: 1 / 3;
              }
            }

            .one {
              // background-color: red;
              // grid-row: 1 / 2;
            }

            .two {
              // background-color: blue;
              // grid-row: 2 / 3;
            }

            .three {
              // background-color:olivedrab ;
              // grid-row: 3 / 4;
            }

            .for {
              // background-color:yellow ;
              // grid-row: 4 / 5;
            }

            .five {
              // background-color:salmon ;
              // grid-row: 5 / 6;
            }

            .six {
              // background-color:navy ;
              // grid-row: 6 / 7;
            }

            .seven {
              // background-color:royalblue ;
              // grid-row: 7 / 8;
            }

            .eight {
              // background-color:aqua ;
              // grid-row: 8 / 9;
            }

            .nine {
              // background-color:crimson ;
              // grid-row: 9 / 10;
            }

            .ten {
              // background-color: red;
              // grid-row: 10 / 11;
            }
          }
        }

        &_imageQuery {

          // background-color:blue ;
          // height: 50vh;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: repeat(4, 1fr);
          .image {
            // background-color: aqua;
            // grid-column: 2 / 3;
            // grid-rows: 1 / 2;
          }
        }

        &_recog {
          // background-color:orange ;
        }

        &_politic {
          // background-color:indigo ;
        }

        &_traject {
          // background-color:yellow ;
        }

        &_other {
          // background-color: peru;
        }
      }

      &-banner_mid {

        // background-color: crimson;
        .midContainer-imageQuery {
          // background-color: aqua;

        }
      }
    }

    .midContainer {

      // background-color: chocolate;
      &-imageQuery {
        // background-color:blue ;
        // height: 40vh;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: repeat(4, 1fr);

        .image {
          // background-color: aqua;
          // grid-column: 1 / 2;
          // grid-row: 4 / 5;
        }
      }
    }

    .endContainer {

      // background-color: palegreen;
      // height: 100vh;
      // display: grid;
      // grid-auto-rows: 80% 20%;
      &-imageQuery {
        // background-color: brown;
        // grid-row: 1 / 2;
      }

      &-bannerEnd {

        // background-color: darkblue;
        // grid-row: 2 / 3;
        &_images {
          // background-color: royalblue;
          // display: grid;
          // grid-template-columns: 1fr 1fr 1fr;
          // grid-template-rows: 1fr 1fr;
          // @include centerFlex;

          .pacto {
            // background-color: aqua;
            // grid-column: 1 / 2;
            // grid-row: 1 / 2;
          }

          .gen {
            // background-color: orange;
            // grid-column: 2 / 3;
            // grid-row: 1 / 2;
          }

          .mujer {
            // background-color: indianred;
            // grid-column: 3 / 4;
          }
        }
      }
    }

    .contactContainer {

      // background-color: #4D4D4D;
      &-formBox {

        // background-color: aqua;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .call {
          // background-color: blueviolet;
          grid-column: 3 / 11;
        }

        .formBox {

          // background-color: antiquewhite;
          grid-column: 4 / 10;
          display: grid;
          grid-template-columns: 75% 25%;
          grid-template-rows: 1fr 1fr;

          &-left {
            // background-color: brown;
            grid-column: 1 / 2;
            grid-row: 1 / 3;

            &_text {
              display: grid;
              grid-template-columns: repeat(6, 1fr);

              // background-color: aqua;
              label {
                // background-color: blueviolet;
                grid-column: 1 / 3;
              }

              input {
                grid-column: 3 / 7;
              }
            }
          }

          &-right {
            // background-color:olivedrab ;
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            &_ref {}

            a {}
          }
        }
      }

      &-imgBox {
        // height: 30vh;
      }
    }
  }
}
@include mQ(xlS){
  body{
    // background-color: fuchsia;

  }
}
