body{
  height: 100vh;
  background-color: aliceblue;
}
.portafolio{
  &-container{
    // margin-left: -10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  .mainContainer-banner {
    // background-color: rebeccapurple;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    // margin-top: 3rem;
    color: $clTextoGen;
    display: flex;
    flex-wrap: wrap;
    h2{
      font-size: 2rem;
    }
    &_image{
      // background-color: aqua;
      font-size: 1.5rem;
      text-align: center;
    }
    .logo{
      margin-right: 5%;
      margin-left: 2%;
      width: 15%;
      background-image: url('./images/logo.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &-book{
    // background-color: orangered;
    margin-top: 1rem;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    display: flex;
    justify-content: center;
    // align-content: center;
    // align-items: center;
  }
}
